* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F5F5;
}

/*menu*/

.header {
    background-color: #001F3F;
    max-height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#evh-logo {
    width: 100px;
    height: auto;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 15px;
    cursor: pointer;
    z-index: 9;
}

.bar {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
}

.change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar:nth-child(2) {
    opacity: 0;
}

.change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.menu-links {
    flex-direction: column;
    align-items: end;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #000;
    width: 100%;
    height: 0;
    box-sizing: border-box;
    overflow: hidden;
    transition: transform .3s ease-in-out;
    z-index: 8;
}

.menu-links.show {
    transform: translateY(100%);
    transition: .3s ease-in;
    height: 100vh;
    overflow-y: auto;
}

.menu-links a {
    margin-top: 15px;
    margin-right: 50px;
    text-decoration: none;
    color: #fff;
    text-align: right;
    transition: background-color .3s;
}

.menu-links a:hover {
    background-color: #333;
}

.menu.change + .menu-links {
    display: flex;
    transform: translateY(0);
}

/*menu end*/

/*section one*/

#section-1 {
    background: url(images/students.png);
    width: 100%;
    height: 100vh;
    background-size: 750px;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.section-1-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: left;
    width: 80%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-1-container > h1 {
    font-size: 32px;
    font-weight: normal;
    padding-bottom: 15px;
}

.section-1-container > p {
    font-size: 20px;
}

.start-evh {
    background-color: #19A974;
    padding: 20px 30px;
    font-size: 18px;
    width: max-content;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*end of section-1*/

#section-2 {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.section-2-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

.section-2-container > h1 {
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.courses-wrapper {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    height: 300px;
    width: 350px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.card > h2 {
    font-weight: normal;
}

.card > p {
    font-family: 'Playfair Display', serif;
    padding-bottom: 10px;
}

.enroll-now-btn {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-color: #19A974;
    color: white;
    font-size: 18px;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
}

/*end of section 2*/

#section-3 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

.section-3-container > h1 {
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.members-wrapper {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.member-card {
    background-color: rgba(75, 75, 75, 0.5);
    height: 500px;
    width: 400px;
    position: relative;
}

.first-professor {
    background: url(images/professor-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.second-professor {
    background: url(images/professor-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.third-professor {
    background: url(images/professor-3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fourth-professor {
    background: url(images/professor-4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fifth-professor {
    background: url(images/professor-5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.member-card > h1 {
    position: absolute;
    top: 80%;
    left: 10%;
    font-weight: 400;
    color: white;
}

.member-card > p {
    position: absolute;
    top: 85%;
    left: 40%;
    font-weight: 400;
    color: white;
}

@media (min-width:1001px) {
    .member-info,
    .show-member-info {
    display: none;
}
}


@media (max-width: 1000px) {
    .member-card {
        background-color: rgba(75, 75, 75, 0.5);
        height: 500px;
        width: 50px;
        position: relative;
    }

    .member-card > h1,
    .member-card > p {
        display: none;
    }

    .member-info {
        position: fixed;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }

    .member-info > h1,
    .member-info > p {
        color: white;
        font-weight: normal;
        position: absolute;
        z-index: 999;
    }

    .member-info > h1 {
        width: max-content;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .member-info > p {
        top: 80%;
        left: 60%;
        transform: translate(-50%, -50%);
    }

    .professor-image {
        width: 400px;
        z-index: 2;
    }

    .close-button {
        position: absolute;
        top: 10px;
        right: 30px;
        cursor: pointer;
        color: #fff;
        font-size: 20px;
        z-index: 99;
        background-color: red;
        padding: 10px 15px;
        border-radius: 20px;
    }

    .first-professor {
        background-position-x: -150px;
    }
    
    .second-professor {
        background-position-x: -115px;
    }
    
    .third-professor {
        background-position-x: -145px;
    }
    
    .fourth-professor {
        background-position-x: -140px;
    }
    
    .fifth-professor {
        background-position-x: -165px;
    }    

    .info {
        color: white;
    }

    .show-member-info {
        cursor: pointer;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}



